{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="container">
    <div class="col-sm-12">

        <div class="col-md-10 col-md-offset-1 marginify center">
            <img class="img-responsive" src="/img/groupe.jpg">

            <p class="marginify">Merci à toutes celles et ceux qui ont fait de ce spectacle une telle réussite !</p>

            <p>Vous pouvez dès à présent récupérer quelques photos de l'évènement par ici :</p>
            <ul>
                <li><a href="https://owncloud.kluck.ovh/index.php/apps/gallery/s/DbYuzAhFA7kFAW2">Samedi</a></li>
                <li><a href="https://owncloud.kluck.ovh/index.php/apps/gallery/s/bCBUoqoTviASDzh">Dimanche</a></li>
            </ul>
            <p>Le mot de passe est écrit sur votre billet. Si vous l'avez perdu ou jeté, pas de souci, faites-le nous savoir via notre formulaire de <a href="page/contact">contact</a>.</p>
        </div>

            <!--<aside class="pquote left-quote pull-left">-->
                <!--<blockquote>-->
                    <!--<div class="text-quote">De grands moments de fou rires. Allez-y !</div>-->
                    <!--<div class="by">Allocinoche</div>-->
                <!--</blockquote>-->
            <!--</aside>-->

        <div class="col-md-12">
            <h3>Inscription à la newsletter</h3>
            <p>Si vous souhaitez être prévenu lorsque l'association organise ou participe à des évènements, n'hésitez pas à vous inscrire à la newsletter !
                Si vous souhaitez vous désinscrire, envoyez-nous un mail via le formulaire de <a href="page/contact">contact</a>.</p>
            <div class='contact-form'>
                <form method="POST" action="http://formspree.io/dancefactory.association+newsletter@gmail.com">

                    <div class="form-group">
                        <label for="email">Adresse email</label>
                        <input name="_replyto" type="email" class="form-control" id="email">
                    </div>

                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </form>
            </div>
        </div>

        <div class="col-md-12 video">
            <iframe class="center-block" src="https://player.vimeo.com/video/153070626" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <br/>
            <div class="text-center"><em>Quelques images de l'ancien spectacle</em></div>
        </div>

        <div class="head">
            <div class="col-sm-6">
                <img class="img-responsive center-block" style="max-height: 270px;" src="/img/logo-big.png"/>
            </div>
            <div class="col-sm-6">
                <img class="img-responsive center-block" style="max-height: 270px;" src="/img/ffd.png">
            </div>
        </div>

    </div>
    {{ partial "container-footer.html" . }}
</div>

{{ partial "footer.html" . }}
