{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="container">
    <div class="col-sm-12">

        <div class="col-md-12 marginify">
          <img class="col-md-10 col-md-offset-1 img-responsive" src="/img/saison5/photo_groupe.jpg"/>
        </div>

      <h3 class="text-center">Assemblée Générale</h4>

	<p class="text-center">
	  L'Assemblée Générale de l'association se tiendra le mercredi 10 septembre à 18h30, à la salle des associations de Gaillon.</br>
	  Toute personne souhaitant y participer est la bienvenue !
	</p>

<p>
  La nouvelle saison commence dès le samedi 14 septembre, à 15h15, au gymnase du lycée André Malraux. Le premier cours d'essai est gratuit, n'hésitez-pas !
  </p>
	
        <!--     <h3 class="marginify">Que le spectacle commence !</h3> -->

        <!--     <p>L'air est à la fête, et le cirque est à l'honneur cette année !<br/> -->
        <!--         Rejoignez-nous les 7 et 8 avril prochains pour un spectacle… magique ! <br/> -->
        <!--         <br/> -->
        <!--     Permanences pour la vente des billets le vendredi 6 avril de 17h à 19h et le samedi 7 avril de 10h à 12h, au Lido de Gaillon.<br/><br/> -->
        <!--     Renseignements au 06.33.46.79.95</p> -->

            <h3 class="text-center">Inscription à la newsletter</h3>
            <p class="text-center">Si vous souhaitez être prévenu lorsque l'association organise ou participe à des événements, n'hésitez pas à vous inscrire à la newsletter !
                Si vous souhaitez vous désinscrire, envoyez-nous un mail via le formulaire de <a href="page/contact">contact</a>.</p>
            <div class='contact-form'>
                <form method="POST" action="http://formspree.io/dancefactory.association+newsletter@gmail.com">

                    <div class="form-group">
                        <label for="email">Adresse email</label>
                        <input name="_replyto" type="email" class="form-control" id="email">
                    </div>

                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </form>
            </div>
    </div>

        <div class="head">
            <div class="col-sm-6">
                <img class="img-responsive center-block" style="max-height: 270px;" src="/img/logo-big.png"/>
            </div>
            <div class="col-sm-6">
                <img class="img-responsive center-block" style="max-height: 270px;" src="/img/ffd.png">
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $("#amount").on('input', function () {
                    console.log("toto");
                    $("#total").text(5 * parseInt($("#amount").val(), 10));
                });
            });
        </script>
    </div>
    {{ partial "container-footer.html" . }}
</div>

{{ partial "footer.html" . }}
