{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="container">
    <div class="col-sm-12">

        <div class="col-md-6">
            <h3>Ladies and Gentlemen !</h3>
            <p>Bienvenue au cabaret !</p>
            <p>Nous vous invitons à nous rejoindre le samedi 19 mars ou le dimanche 20 mars au Lido de Gaillon, pour un spectacle de plumes et de paillettes !</p>
            <p>L'entrée est de 6€ pour les adultes et 3€ pour les moins de 6 ans. Spectacle tout public, venez en famille !</p>
            <p>Pour les plus gourmands d'entre vous, des collations vous seront proposées à l'entracte.</p>
            <h4>Vente des billets :</h4>
            <p>Une vente des billets est prévue les 5 et 6 mars au Lido, de 9H à 12H et de 15H à 17H.</p>
            <p>Les billets seront également en vente le jour même.</p>
            <p>Au vu du succès du spectacle dernier, il est vivement recommandé de prendre vos places à l'avance !</p>
            <p>Si vous avez encore des questions, n'hésitez pas à appeler ou laisser un message à la présidente Anne-Sophie au 06.33.46.79.95, elle vous rappelera.</p>
        </div>
        <div class="col-md-6 marginify">
            <img class="img-responsive" src="/img/saison2/cabaret/affiche.jpg"/>
        </div>

        <p></p>

        <div class="head">
            <div class="col-sm-6">
                <img class="img-responsive center-block" style="max-height: 270px;" src="/img/logo-big.png"/>
            </div>
            <div class="col-sm-6">
                <img class="img-responsive center-block" style="max-height: 270px;" src="/img/ffd.png">
            </div>
        </div>

    </div>
    {{ partial "container-footer.html" . }}
</div>

{{ partial "footer.html" . }}
